<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Clinica</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4" style="background-color: #e6f7f9; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <button
                            type="button"
                            class="btn btn-block"
                            data-bs-toggle="modal"
                            data-bs-target="#agregarLaboratorio"
                            style="background-color: #57c4ad; color: white; font-weight: bold; padding: 12px 20px;">
                            <i class="fas fa-user-plus"></i> Agregar Laboratorio
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarLaboratorio">
            <div id="agregarLaboratorio" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><i class="fas fa-notes-medical"></i> [[#{laboratorio.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/laboratorios/guardar}" th:object="${laboratorio}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body" style="padding: 20px;">
                                <div class="mb-4">
                                    <label for="idUsuario" class="form-label">
                                        <i class="fas fa-user"></i> [[#{laboratorio.idUsuario}]]
                                    </label>
                                    <input type="text" class="form-control" name="idUsuario"  required style="border-radius: 8px; border: 1px solid #ccc;"/>
                                </div>
                                <div class="mb-4">
                                    <label for="resultado" class="form-label">
                                        <i class="fas fa-notes-medical"></i> [[#{laboratorio.resultado}]]
                                    </label>
                                    <textarea class="form-control" name="resultado" rows="5" required style="border-radius: 8px; resize: none;"></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="fecha" class="form-label">
                                        <i class="fas fa-calendar-alt"></i> [[#{laboratorio.fecha}]]
                                    </label>
                                    <input type="datetime-local" class="form-control" th:field="*{fecha}" required style="border-radius: 8px;">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit" style="background-color: #4CAF50;">
                                    <i class="fas fa-save"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoLaboratorios" id="laboratorios">
            <div class="container">
                <div class="row">
                    <div th:if="${laboratorios != null and !laboratorios.empty}">
                        <div class="row g-4">
                            <div class="col-md-4" th:each="laboratorio : ${laboratorios}">
                                <div class="card shadow-lg border-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">
                                            <i class="fas fa-calendar-alt"></i> [[${laboratorio.fecha}]]
                                        </h5>
                                        <p class="card-text">
                                            <i class="fas fa-notes-medical"></i> [[${laboratorio.resultado}]]
                                        </p>
                                        <div class="d-flex justify-content-end">
                                            <a th:href="@{/laboratorios/eliminar/{id}(id=${laboratorio.idlaboratorio})}" class="btn btn-outline-danger mx-1">
                                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                            </a>
                                            <a th:href="@{/laboratorios/modificar/{id}(id=${laboratorio.idlaboratorio})}" class="btn btn-outline-primary mx-1">
                                                <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div th:if="${laboratorios == null or laboratorios.empty}" class="text-center py-5">
                        <p class="text-muted">
                            <i class="fas fa-folder-open"></i> [[#{lista.vacia}]]
                        </p>
                    </div>
                </div>
                <div class="floating-card" style="position: fixed; bottom: 20px; right: 20px; width: 250px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); border-radius: 15px; background-color: #ffffff; z-index: 1000;">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h3>[[#{laboratorio.total}]]</h3>
                            <h4 class="fs-2 text-primary"><i class="fas fa-users"></i> [[${totalLaboratorios}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <section th:fragment="editarLaboratorio">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/laboratorios/guardar}" th:object="${laboratorio}" class="was-validated" enctype="multipart/form-data">
                        <input type="hidden" name="idlaboratorio" th:field="*{idlaboratorio}"/>
                        <section th:replace="~{laboratorios/fragmentos :: botonesEditar}"/>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label for="idUsuario">[[#{laboratorio.idUsuario}]]</label>
                                                <input type="text" class="form-control" name="idUsuario" required=""/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fecha">[[#{laboratorio.fecha}]]</label>
                                                <input type="datetime-local" class="form-control" name="fecha" required=""/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="resultado">[[#{laboratorio.resultado}]]</label>
                                                <input type="text" class="form-control" name="resultado" th:field="*{resultado}" required=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/laboratorios/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.cancelar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
