<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <title>Citas Médicas</title>
    </head>
    <body>
        <h2>Listado de Citas Médicas</h2>
        <!DOCTYPE html>
        <html xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org">
            <body>
                <table>
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="diagnostico : ${diagnosticos}">
                            <td th:text="${diagnostico.descripcion}"></td>
                            <td th:text="${diagnostico.fecha}"></td>
                        </tr>
                    </tbody>
                </table>
            </body>
        </html>
        <body>
            <button type="button" onclick="location.href = '/diagnosticos/nuevo'">Agregar Nuevo Diagnóstico</button>
        </body>

    </body>
</html>
