<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
    <title>[[#{diagnostico.listado}]]</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<div class="container">
    <h1>[[#{diagnostico.listado}]]</h1>

    <section th:replace="diagnosticos/fragmentos :: botonesAgregar"></section>
    <section th:replace="diagnosticos/fragmentos :: listadoDiagnosticos"></section>
    <section th:replace="diagnosticos/fragmentos :: agregarDiagnostico"></section>
</div>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>