<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container text-center mt-5">
            <h1 class="mb-3" style="font-size: 2.5rem; font-weight: bold; color: #0073e6;">
                Bienvenido a la Clínica Vida Sana
            </h1>
            <p class="lead" style="font-size: 1.2rem; line-height: 1.8; color: #555;">
                En nuestra clínica, brindamos atención médica de alta calidad con un equipo de profesionales dedicados a tu bienestar.
                Ofrecemos una amplia gama de servicios médicos para garantizar tu salud y la de tu familia.
            </p>
            <p style="font-size: 1rem; color: #777;">
                No dejes tu salud para después, agenda una cita con nuestros especialistas hoy mismo y recibe la mejor atención.
            </p>

            <div class="mt-4">
                <img th:src="@{/images/instalaciones.jpg}" class="img-fluid rounded shadow-lg" alt="Clínica Vida Sana" style="max-width: 600px; border-radius: 10px;">
                    <p class="mt-3" style="font-size: 1rem; color: #333;">Te animamos a que conozcas nuestras instalaciones.</p>
            </div>
        </div>

        <footer class="mt-5 p-3 text-center" style="background-color: #0073e6; color: white;">
            <p>&copy; 2025 Clínica Vida Sana. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>
